<hr/>

<div class="row column footer">
	<ul class="menu">
		<li><a href="/">/</a></li>
		<li><a href="/articles">Статьи</a></li>
		<li><a href="https://vk.com/golang">Вконтакте</a></li>
		<li><a href="https://twitter.com/4gophers">Твиттер</a></li>
		<li><a href="/articles/index.xml">RSS</a></li>
		<li><a href="/contacts">Контакты</a></li>
		<li><a href="http://slack.golang-ru.com/">Слак</a></li>
		<li><a href="https://t.me/gophernews" target="_blank">Телеграм</a></li>
		<li><a href="https://golangshow.com/">GolangShow</a></li>
	</ul>
	<!-- script src="/sub.js" type="text/javascript"></script -->
	<script src="/fr.js" type="text/javascript"></script>
</body>
</html>
