<div class="ad">
    <!-- <a href="/work">
        <img src="/img/apptica/apptica_logo.png" class="banner">
        Работа
    </a> -->
    <p>&nbsp;</p>
    <a href="https://ad.admitad.com/g/07d6913cf6b72ea2020f5ddd29e1bc/?ulp=https%3A%2F%2Fwww.labirint.ru%2Fbooks%2F533140%2F&subid=3" target="_blank">
        <img src="//ozon-st.cdn.ngenix.net/multimedia/1013604520.jpg" alt='Язык программирования Go' class="banner">
        Язык программирования Go
    </a>
    <p>&nbsp;</p>
    <a href="https://ad.admitad.com/g/07d6913cf6b72ea2020f5ddd29e1bc/?ulp=https%3A%2F%2Fwww.labirint.ru%2Fbooks%2F566828%2F&subid=7" target="_blank">
        <img src="//ozon-st.cdn.ngenix.net/multimedia/1017202012.jpg" alt='Go на практике' class="banner">
        Go на практике
    </a>
    <p>&nbsp;</p>
    <a href="https://ad.admitad.com/g/2d388421f4b72ea2020f3baa9723ff/?ulp=https%3A%2F%2Fwww.litres.ru%2Fmark-sammerfild-2%2Fprogrammirovanie-na-go-razrabotka-prilozheniy-xxi-veka-6114450%2F&subid=2" target="_blank">
        <img src="//ozon-st.cdn.ngenix.net/multimedia/1013195356.jpg" alt='Программирование на Go. Разработка приложений XXI века' class="banner">
        Программирование на Go. Разработка приложений XXI века
    </a>

    <p>&nbsp;</p>
    <!-- <a href="https://ad.admitad.com/g/e2331e4edc64026f39b00d79a64861/" target="_blank">
        <img src="/banners/banner-49cc7a92f1d389ed276acc4368c28200.gif" alt='Reg.ru' class="banner">
    </a> -->
</div>