
<h4><a href="https://goo.gl/4zho51" target="_blanck">Ли Атчисон: Масштабирование приложений. Выращивание сложных систем</a></h4>

<div class="row">
    <div class="large-2 columns">
        <a href="https://goo.gl/4zho51" target="_blanck"><img src="/banners/59e5b97993b56239035495.jpeg"></a>
    </div>
    <div class="large-10 columns">
            <p>Мы живем в мире растущих приложений. Практически любые программные 
            продукты рано или поздно приходится расширять, надстраивать, адаптировать 
            к обслуживанию растущей пользовательской аудитории и к пиковым нагрузкам. 
            Для того, чтобы подобное масштабирование протекало гладко и быстро, нужно 
            закладывать такие возможности уже на уровне архитектуры приложения. В этой 
            незаменимой прикладной книге автор рассказывает не только об архитектурных 
            тонкостях, необходимых для эффективного масштабирования приложений, но и о 
            рисках, присущих такой работе, о грамотной организации масштабирования и об 
            использовании облачных сервисов.</p>
    </div>
</div>

<p>&nbsp;</p>