{{ partial "header.html" . }}


<div class="row">
    <div class="large-12 columns">
        <div class="row">
        	<div class="large-10 columns article">
        		<h2 class="title">{{ .Title }}</h2>
        		    {{ .Content }}
        		<div class="data">
                    <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                        {{ .Date.Day }} {{ index $.Site.Data.ru (printf "%d" .Date.Month) }} {{ .Date.Year }}
                    </time>
                </div>

                {{ partial "ad/single.html" }}
        	</div>

            <div class="large-2 columns">
                <div class="tags">
                    <ul id="all-tags">
                        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                            <li><a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a></li>
                        {{ end }}
                    </ul>
                </div>
                    
                {{ partial "ad/sidebar.html" }}
            </div>
        </div>

        <div class="row share-row">
            <div class="large-5 columns">
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                <a class="addthis_button_facebook"></a>
                <a class="addthis_button_twitter"></a>
                <a class="addthis_button_vk"></a>
                <a class="addthis_button_google_plusone_share"></a>
                <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
                </div>
                <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=horechek"></script>
                <!-- AddThis Button END -->
            </div>
            <div class="large-7 columns">&nbsp;</div>
        </div> 

        <div class="row">
         	<div class="large-12 columns">
        		<div id="disqus_thread"></div>
        	</div>
        </div>

        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = '4gophers'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    </div>
</div>
{{ partial "footer.html" . }}