{{ partial "header.html" . }}

<div class="row">
    <div class="large-8 columns">

    	{{ range (first 6  (where .Data.Pages "Type" "articles"))  }}
    		<div class="item">
	    		<h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
		        {{ .Summary }}
	        </div>
	    {{ end }}

		<div class="item">
			<a href="/articles">Все статьи</a>
		</div>
		
		<div class="item">
			<p>Теги:</p>
			{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
				<span><a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a></span>
			{{ end }}
		</div>
	</div>

	<div class="large-4 columns">
		<!-- <div class="item" style="text-align:center">
			<h4><a href="/work">Работа</a></h4>
			<a href="/work"><img src="/img/apptica/apptica_logo.png"></a>
		</div> -->

		<div class="item">
		<a class="twitter-timeline" data-lang="ru" 
		data-width="400" data-height="1200" 
		data-chrome="nofooter noborders noscrollbar transparent noheader"
		data-tweet-limit="7"
		href="https://twitter.com/4gophers?ref_src=twsrc%5Etfw">Tweets by 4gophers</a> 
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div>

{{ partial "footer.html" . }}